.item-container-load {
  display: flex;
  margin: 5px;
  list-style-type: none;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(205, 238, 234);
  width: 100%;
}

.list-container-loader {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
  margin: 0;
  padding: 25px;
  background-color: red;
  width: 100%;
}

.check-loader {
  margin: 0;
  padding: 15px;
  border: none;
  border-radius: 50px;
  align-self: center;
  width: 14px;
  height: 14px;
  background-color: gray;
}

.delete-loader {  
  margin: 0;
  padding: 15px;
  border: none;
  border-radius: 50px;
  align-self: center;
  width: 14px;
  height: 14px;
  background-color: gray;
}   

.text-load::after {
  content: '________________________________________________________________';
}

.loader {
    position: absolute;
    transform: translate(50px,-50px);
    margin: 50px auto;
    --dim: 3rem;
    width: var(--dim);
    height: var(--dim);
    position: relative;
    animation: spin988 2s linear infinite;
    z-index: 3;
  }
  
  .loader .circle {
    --color: #333;
    --dim: 1.2rem;
    width: var(--dim);
    height: var(--dim);
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
  }
  
  .loader .circle:nth-child(1) {
    top: 0;
    left: 0;
  }
  
  .loader .circle:nth-child(2) {
    top: 0;
    right: 0;
  }
  
  .loader .circle:nth-child(3) {
    bottom: 0;
    left: 0;
  }
  
  .loader .circle:nth-child(4) {
    bottom: 0;
    right: 0;
  }
  
  @keyframes spin988 {
    0% {
      transform: scale(1) rotate(0);
    }
  
    20%, 25% {
      transform: scale(1.3) rotate(90deg);
    }
  
    45%, 50% {
      transform: scale(1) rotate(180deg);
    }
  
    70%, 75% {
      transform: scale(1.3) rotate(270deg);
    }
  
    95%, 100% {
      transform: scale(1) rotate(360deg);
    }
  }