.modal-container {
/* Fondo oscuro que cubre toda la pantalla */

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  
}

.modal-opened-container {
/* Contenido del modal centrado */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 40%; /* Ocupa la mayor parte de la pantalla */
    height: 40%; /* Ocupa casi toda la altura */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* Permite el scroll si el contenido es demasiado grande */
  }



  .close-modal {
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
  }